---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Figure from "../components/Figure.astro";
import IonChannel from "../components/IonChannel.astro";
import DataSelector from "../components/DataSelector.astro";
---

<Layout title="Elecrophysiological Model of a Cancer Cell">
  <main>
    <h1><span class="text-gradient">In-Silico</span> Cancer Cell</h1>
    <p>
      Welcome! 🔬 This is a full current measurement + simulation through an A549 cancer cell's membrane for a given
      voltage protocol (voltage accross the membrane).
    </p>
    <h2 id="data-selector-header">Voltage <span class="text-gradient">Protocol & Phase</span></h2>
    <DataSelector />
    <h2>Full Simulation + Measurement <span class="text-gradient">Current</span></h2>
    <Figure
      plot="fullSimulationCurrent"
      extra={{
        width: 1800,
        height: 300,
        fontSize: 18,
      }}
    />
    <h2>Individual <span class="text-gradient">Channel Contributions</span></h2>
    <p>
      The entire cell's membrane is composed of many individual ion channels, which we classify into 11 different types
      so far. The contributions per ion channel type are listed below:
    </p>
    <div class="channel-grid">
      <IonChannel channel="Kv13" />
      <IonChannel channel="Kv31" />
      <IonChannel channel="Kv34" />
      <IonChannel channel="Kv71" />
      <IonChannel channel="KCa11" />
      <IonChannel channel="KCa31" />
      <IonChannel channel="Task1" />
      <IonChannel channel="CRACM1" />
      <IonChannel channel="TRPC6" />
      <IonChannel channel="TRPV3" />
      <IonChannel channel="CLC2" />
    </div>
    <h2>Fundamental <span class="text-gradient">Research Background</span></h2>
    <p>
      The electrophysiological research and all individual models backing this simulation are documented in
      <a href="https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1009091"
        >A549 in-silico 1.0: A first computational model to simulate cell cycle dependent ion current modulation in the
        human lung adenocarcinoma</a
      >
      by Langthaler et al. The simulation was later ported to Rust, making it much more efficient. <br />
      Rust's WASM compilation is also what allows you to run it in a browser! The interface and visualisations are done with
      Astro and d3.
    </p>
    <!-- <img
      src="https://journals.plos.org/ploscompbiol/article/figure/image?size=large&download=&id=10.1371/journal.pcbi.1009091.g002"
      width="100%"
      style="margin: 20px 0"
    /> -->
    <ul role="list" class="link-card-grid">
      <Card
        href="https://github.com/MrP01/InSilicoCancerCell"
        title="Simulation: Source Code"
        body="Explore the source code of this simulation."
      />
      <Card
        href="https://www.tugraz.at/en/institutes/hce/home"
        title="Institute: HCE"
        body="Developed at the Institute of Health Care Engineering with European Testing Center of Medical Devices"
      />
      <Card href="https://www.tugraz.at/" title="Place: TU Graz" body="Part of the Technical University of Graz." />
    </ul>
    <p style="text-align: right">&copy; Peter Waldert, 2024.</p>
  </main>
</Layout>

<style>
  h1,
  h2 {
    margin-bottom: 0.2em;
  }
  p {
    margin-top: 0;
    margin-bottom: 1.5em;
  }
  a {
    color: #3ca951;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
  .channel-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40ch, 2fr));
  }
</style>
