---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { run } from "../pkg/in_silico_frontend";
import * as Plot from "@observablehq/plot";
import Figure from "../components/Figure.js";

const penguins = [
  {
    species: "Adelie",
    island: "Torgersen",
    culmen_length_mm: 39.1,
    culmen_depth_mm: 18.7,
    flipper_length_mm: 181,
    body_mass_g: 3750,
    sex: "MALE",
  },
  {
    species: "Adelie",
    island: "Torgersen",
    culmen_length_mm: 39.5,
    culmen_depth_mm: 17.4,
    flipper_length_mm: 186,
    body_mass_g: 3800,
    sex: "FEMALE",
  },
  {
    species: "Adelie",
    island: "Torgersen",
    culmen_length_mm: 40.3,
    culmen_depth_mm: 18,
    flipper_length_mm: 195,
    body_mass_g: 3250,
    sex: "FEMALE",
  },
  {
    species: "Adelie",
    island: "Torgersen",
    culmen_length_mm: null,
    culmen_depth_mm: null,
    flipper_length_mm: null,
    body_mass_g: null,
    sex: null,
  },
  {
    species: "Adelie",
    island: "Torgersen",
    culmen_length_mm: 36.7,
    culmen_depth_mm: 19.3,
    flipper_length_mm: 193,
    body_mass_g: 3450,
    sex: "FEMALE",
  },
  {
    species: "Adelie",
    island: "Torgersen",
    culmen_length_mm: 39.3,
    culmen_depth_mm: 20.6,
    flipper_length_mm: 190,
    body_mass_g: 3650,
    sex: "MALE",
  },
  {
    species: "Adelie",
    island: "Torgersen",
    culmen_length_mm: 38.9,
    culmen_depth_mm: 17.8,
    flipper_length_mm: 181,
    body_mass_g: 3625,
    sex: "FEMALE",
  },
  {
    species: "Adelie",
    island: "Torgersen",
    culmen_length_mm: 39.2,
    culmen_depth_mm: 19.6,
    flipper_length_mm: 195,
    body_mass_g: 4675,
    sex: "MALE",
  },
  {
    species: "Adelie",
    island: "Torgersen",
    culmen_length_mm: 34.1,
    culmen_depth_mm: 18.1,
    flipper_length_mm: 193,
    body_mass_g: 3475,
    sex: null,
  },
  {
    species: "Adelie",
    island: "Torgersen",
    culmen_length_mm: 42,
    culmen_depth_mm: 20.2,
    flipper_length_mm: 190,
    body_mass_g: 4250,
    sex: null,
  },
  {
    species: "Adelie",
    island: "Torgersen",
    culmen_length_mm: 37.8,
    culmen_depth_mm: 17.1,
    flipper_length_mm: 186,
    body_mass_g: 3300,
    sex: null,
  },
  {
    species: "Adelie",
    island: "Torgersen",
    culmen_length_mm: 37.8,
    culmen_depth_mm: 17.3,
    flipper_length_mm: 180,
    body_mass_g: 3700,
    sex: null,
  },
  {
    species: "Adelie",
    island: "Torgersen",
    culmen_length_mm: 41.1,
    culmen_depth_mm: 17.6,
    flipper_length_mm: 182,
    body_mass_g: 3200,
    sex: "FEMALE",
  },
  {
    species: "Gentoo",
    island: "Biscoe",
    culmen_length_mm: 47.2,
    culmen_depth_mm: 13.7,
    flipper_length_mm: 214,
    body_mass_g: 4925,
    sex: "FEMALE",
  },
  {
    species: "Gentoo",
    island: "Biscoe",
    culmen_length_mm: null,
    culmen_depth_mm: null,
    flipper_length_mm: null,
    body_mass_g: null,
    sex: null,
  },
  {
    species: "Gentoo",
    island: "Biscoe",
    culmen_length_mm: 46.8,
    culmen_depth_mm: 14.3,
    flipper_length_mm: 215,
    body_mass_g: 4850,
    sex: "FEMALE",
  },
  {
    species: "Gentoo",
    island: "Biscoe",
    culmen_length_mm: 50.4,
    culmen_depth_mm: 15.7,
    flipper_length_mm: 222,
    body_mass_g: 5750,
    sex: "MALE",
  },
  {
    species: "Gentoo",
    island: "Biscoe",
    culmen_length_mm: 45.2,
    culmen_depth_mm: 14.8,
    flipper_length_mm: 212,
    body_mass_g: 5200,
    sex: "FEMALE",
  },
  {
    species: "Gentoo",
    island: "Biscoe",
    culmen_length_mm: 49.9,
    culmen_depth_mm: 16.1,
    flipper_length_mm: 213,
    body_mass_g: 5400,
    sex: "MALE",
  },
];
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Welcome to <span class="text-gradient">Astro</span></h1>
    <p class="instructions">
      To get started, open the directory <code>src/pages</code> in your project.<br
      />
      {run().toString()}
    </p>
    <Figure
      options={{
        marks: [
          Plot.dot(penguins, { x: "culmen_length_mm", y: "culmen_depth_mm" }),
        ],
      }}
    />
    <ul role="list" class="link-card-grid">
      <Card
        href="https://docs.astro.build/"
        title="Documentation"
        body="Learn how Astro works and explore the official API docs."
      />
      <Card
        href="https://astro.build/integrations/"
        title="Integrations"
        body="Supercharge your project with new frameworks and libraries."
      />
      <Card
        href="https://astro.build/themes/"
        title="Themes"
        body="Explore a galaxy of community-built starter themes."
      />
      <Card
        href="https://astro.build/chat/"
        title="Community"
        body="Come say hi to our amazing Discord community. ❤️"
      />
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
